$var-boolean-value-color: #007bff;
$var-prop-color: #9cdcfe;
$var-code-font: "consolas";

.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;

	.mat-card {
		margin-bottom: 2em;
	}
}

.type {
	font-family: $var-code-font;

	&.variable {
		margin-right: 0.5em;
		color: $var-prop-color;
	}

	&.boolean {
		&.value {
			color: $var-boolean-value-color;
		}
	}
}

.form-group {
	margin-left: 1em;
}

.button-group {
	button {
		margin-right: 0.5em;
	}
}

// default
.executing {
	background: #ffc107!important;
}

// custom default
.is-busy {
	background: #946bce!important;
}

// set at [commandOptions]
.is-loading {
	background: #e83e8c!important;
}