<h1>Command</h1>
<p>Experimental area to test out
  <a href="https://github.com/sketch7/ngx.command"
    target="_blank"
    rel="noopener">
    <strong>@ssv/ngx.command</strong></a>.
</p>
<div class="container">
  <mat-card *ngIf="true">
    <mat-card-title>Vanilla</mat-card-title>
    <mat-card-content>
      <div class="btn-group"
        role="group">
        <button mat-flat-button
          [color]="!isValid ? 'primary' : 'warn'"
          (click)="toggleValidity()">
          Mark as {{ isValid ? "Invalid" : "Valid" }}
        </button>
      </div>
      <div class="form-group">
        <div>
          <small>
            <span class="type variable">isValid</span>
            <span class="type boolean value">{{isValid}}</span>
          </small>
        </div>
        <div>
          <small>
            <span class="type variable">isExecuting</span>
            <span class="type boolean value">{{isExecuting}}</span>
          </small>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
        color="primary"
        [disabled]="!isValid || isExecuting"
        (click)="save()">
        Save
        <small>execute</small>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="true">
    <mat-card-title>Using Command</mat-card-title>
    <mat-card-content>
      <div class="btn-group"
        role="group">
        <button mat-flat-button
          [color]="!isValid$.value ? 'primary' : 'warn'"
          (click)="toggleValidity$()">
          Mark as {{ (isValid$ | async) ? "Invalid" : "Valid" }}
        </button>
      </div>
      <div class="form-group">
        <div>
          <small>
            <span class="type variable">isValid</span>
            <span class="type boolean value">{{isValid$ | async}}</span>
          </small>
        </div>
        <div>
          <small>
            <span class="type variable">saveCmd.isExecuting</span>
            <span class="type boolean value">{{saveCmd.isExecuting}}</span>
          </small>
        </div>
        <div>
          <small>
            <span class="type variable">saveCmd.canExecute</span>
            <span class="type boolean value">{{saveCmd.canExecute}}</span>
          </small>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
        color="primary"
        [disabled]="!saveCmd.canExecute"
        (click)="saveCmd.execute()">
        Save
        <small>execute</small>
      </button>

      <button mat-raised-button
        color="primary"
        disabled
        [ssvCommand]="saveCmd">
        <i *ngIf="saveCmd.isExecuting"
          class="ai-circled ai-indicator ai-dark-spin small"></i>
        Save
        <small>with [ssvCommand]</small>
      </button>

      <button color="primary"
        [ssvCommand]="saveCmd">
        <i *ngIf="saveCmd.isExecuting"
          class="ai-circled ai-indicator ai-dark-spin small"></i>
        Save
        <small>with [ssvCommand]</small>
      </button>

      <button color="primary"
        [ssvCommand]="saveCmdNoValidation">
        <i *ngIf="saveCmdNoValidation.isExecuting"
          class="ai-circled ai-indicator ai-dark-spin small"></i>
        Save
        <small>with [ssvCommand] - no canExecute</small>
      </button>

      <button mat-raised-button
        color="primary"
				disabled
        [ssvCommand]="saveCmdNoValidation"
				[ssvCommandOptions]="{hasDisabledDelay: true}">
        <i *ngIf="saveCmdNoValidation.isExecuting"
          class="ai-circled ai-indicator ai-dark-spin small"></i>
        Save
        <small>with [ssvCommand] - no canExecute</small>
      </button>

      <button mat-raised-button
        color="primary"
        [ssvCommand]="saveCmd"
        [ssvCommandOptions]="{executingCssClass: 'is-loading'}">
        <mat-icon *ngIf="saveCmd.isExecuting">
          <mat-progress-spinner mode="indeterminate"
            color="accent"
            diameter="20"></mat-progress-spinner>
        </mat-icon>
        Save
        <small>with [options]</small>
      </button>
      <button mat-raised-button
        color="primary"
        [disabled]="!saveCmd.canExecute"
        [ssvCommand]="saveCmd"
        [ssvCommandOptions]="{handleDisabled: false}">
        Save
        <small>with [handleDisabled]</small>
      </button>

      <button mat-raised-button
        color="primary"
        [disabled]="!saveCmd.canExecute"
        [ssvCommand]="saveCmd"
        [ssvCommandOptions]="{handleDisabled: false}">
        Save
        <small>with [handleDisabled]</small>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="true">
    <mat-card-title>Using Command Redux</mat-card-title>
    <mat-card-content>
      <div class="btn-group"
        role="group">
        <button mat-flat-button
          [color]="!isValidRedux$.value ? 'primary' : 'warn'"
          (click)="toggleValidityRedux()">
          Mark as {{ (isValidRedux$ | async) ? "Invalid" : "Valid" }}
        </button>
      </div>
      <div class="form-group">
        <div>
          <small>
            <span class="type variable">isValidRedux</span>
            <span class="type boolean value">{{isValidRedux$ | async}}</span>
          </small>
        </div>
        <div>
          <small>
            <span class="type variable">saveReduxCmd.isExecuting</span>
            <span class="type boolean value">{{saveReduxCmd.isExecuting}}</span>
          </small>
        </div>
        <div>
          <small>
            <span class="type variable">saveReduxCmd.canExecute</span>
            <span class="type boolean value">{{saveReduxCmd.canExecute}}</span>
          </small>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
        color="primary"
        [disabled]="!saveReduxCmd.canExecute"
        (click)="saveReduxCmd.execute()">
        Save
        <small>execute</small>
      </button>

      <button mat-raised-button
        color="primary"
        [ssvCommand]="saveReduxCmd">
        <mat-icon *ngIf="saveReduxCmd.isExecuting">
          <mat-progress-spinner mode="indeterminate"
            color="accent"
            diameter="20"></mat-progress-spinner>
        </mat-icon>
        Save
        <small>with [ssvCommand]</small>
      </button>

      <button mat-raised-button
        color="primary"
        [ssvCommand]="saveReduxCmd"
        [ssvCommandOptions]="{executingCssClass: 'is-loading'}">
        <mat-icon *ngIf="saveReduxCmd.isExecuting">
          <mat-progress-spinner mode="indeterminate"
            color="accent"
            diameter="20"></mat-progress-spinner>
        </mat-icon>
        Save
        <small>with [options]</small>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="true">
    <mat-card-title>Within Collection</mat-card-title>
    <mat-card-content>
      <div class="btn-group"
        role="group">
        <button mat-flat-button
          [color]="!isValidHeroRemove$.value ? 'primary' : 'warn'"
          (click)="toggleValidityRemoveHero()">
          Mark as {{ (isValidHeroRemove$ | async) ? "Invalid" : "Valid" }}
        </button>
      </div>
      <div class="form-group collection">
        <div *ngFor="let hero of heroes"
          class="collection-item">
          <div class="hero">
            {{hero.name}}
          </div>

          <div class="action button-group"
            #actionCmd="ssvCommandRef"
            [ssvCommandRef]="{host: this, execute: removeHero$, canExecute: isValidHeroRemove$}">
            <button mat-icon-button
              [ssvCommand]="{host: this, execute: removeHero$, canExecute: isValidHeroRemove$, params: [hero, 1337, 'xx']}"
              title="params in object">
              <mat-icon>close</mat-icon>
            </button>
            <button mat-icon-button
              color="primary"
              [ssvCommand]="{host: this, execute: removeHero$, params: hero}"
              [ssvCommandParams]="[hero, 1336, 'yo']"
              title="params always takes over + doesnt respect isValid">
              <mat-icon>close</mat-icon>
            </button>
            <button mat-icon-button
              color="accent"
              [ssvCommand]="{host: this, execute: removeHero$, canExecute: isValidHeroRemove$}"
              [ssvCommandParams]="hero"
              title="params only">
              <mat-icon>close</mat-icon>
            </button>
            <button mat-icon-button
              [ssvCommand]="pauseHeroCmd"
              [ssvCommandParams]="hero"
              title="shared with other items">
              <mat-icon>pause</mat-icon>
            </button>
            <button mat-icon-button
              color="warn"
              [ssvCommand]="actionCmd.command"
              [ssvCommandParams]="hero"
              title="shared with x2">
              <mat-icon>delete</mat-icon> x2
            </button>
            <button mat-icon-button
              color="warn"
              [ssvCommand]="actionCmd.command"
              [ssvCommandParams]="[hero, 1333, 'yo']"
              title="shared with x2">
              <mat-icon>delete</mat-icon> x2
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="true">
    <mat-card-title>Within Collection CanExecute</mat-card-title>
    <mat-card-content>
      <div class="form-group collection">
        <div *ngFor="let hero of heroes"
          class="collection-item">
          <div class="hero">
            {{hero.name}}
          </div>
          <div class="action button-group">
            <button mat-icon-button
              color="accent"
              [ssvCommand]="{host: this, execute: pauseHero$, canExecute: canPauseHero$, params: hero}"
              title="synced with the other collection's items">
              <mat-icon>pause</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="true">
    <mat-card-title>Command Creator CanExecute</mat-card-title>
    <mat-card-content>
      <div class="btn-group"
        role="group">
        <button mat-flat-button
          [color]="invulnerableHero.isInvulnerable ? null : 'warn'"
          (click)="toggleHeroVulnerability()">
          Mark as {{ invulnerableHero.isInvulnerable ? "Vulnerable" : "Invulnerable" }}
        </button>
      </div>
      <div class="form-group collection">
        <div class="hero">
          {{invulnerableHero.name}}
        </div>
        <div class="action button-group">
          <button mat-icon-button
            color="accent"
            [ssvCommand]="{host: this, execute: pauseHero$, canExecute: canRemoveHero$, params: invulnerableHero}"
            title="command creator canExecute">
            <mat-icon>face</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>